/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700;0,700;1|Roboto:100,300,400;0,400;1,500,700&display=swap');
$body-font: 'Roboto';
$heading: 'Poppins';
/*=========
Color Code
===========*/
$body-color: #323232;
$base-color: #a3cc01;
$base-color-2: #cbbc9d;

